<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/huflit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.HUFLIT"
        tools:targetApi="31">
        <activity
            android:name=".Update_user"
            android:exported="false" />
        <activity
            android:name=".ContentIMG"
            android:exported="false" />
        <activity
            android:name=".ChapterComic"
            android:exported="false" />
        <activity
            android:name=".Profile_User"
            android:exported="false" />
        <activity
            android:name=".NguoiDungQly"
            android:exported="false" />
        <activity
            android:name=".ThemDmuc"
            android:exported="false" />
        <activity
            android:name=".viewCmt"
            android:exported="false" />
        <activity
            android:name=".viewChapter"
            android:exported="false" />
        <activity
            android:name=".NguoiDungQly"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ThemDmuc"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".QLyDanhMuc"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".NguoiDungQly" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ThemDmuc" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".justatest" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".categorymanager" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".add_chaptercomic"
            android:exported="false" />
        <activity
            android:name=".showcate"
            android:exported="false" />
        <activity
            android:name=".mycomic"
            android:exported="false" />
        <activity
            android:name=".create_story"
            android:exported="false" />
        <activity
            android:name=".truyen_da_loc"
            android:exported="false" />
        <activity
            android:name=".Loc_Truyen"
            android:exported="false" />
        <activity
            android:name=".viewstory"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Diolog_dang_ki_truyen"
            android:exported="false" />
        <activity
            android:name=".Dang_bai_truyen_tranh"
            android:exported="false" />
        <activity
            android:name=".Diolog_Them_Truyen"
            android:exported="false" />
        <activity
            android:name=".The_loai"
            android:exported="false" />
        <activity
            android:name=".Thong_tin"
            android:exported="false" />
        <activity
            android:name=".Confirm_LogOut"
            android:exported="false" />
        <activity
            android:name=".My_Collection"
            android:exported="false" />
        <activity
            android:name=".Nhan_xet_cua_toi"
            android:exported="false" />
        <activity
            android:name=".Truyen_da_tai"
            android:exported="false" />
        <activity
            android:name=".Confirm_Register_Author"
            android:exported="false" />
        <activity
            android:name=".Register_Author"
            android:exported="false" />
        <activity
            android:name=".Setting_Interface"
            android:exported="false" />
        <activity
            android:name=".Setting_Background"
            android:exported="false" />
        <activity
            android:name=".Language_Setting"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Menu_Content"
            android:exported="false" />
        <activity
            android:name=".Content"
            android:exported="false" />
        <activity
            android:name=".Truyen_da_dang"
            android:exported="false" />
        <activity
            android:name=".Y_kien"
            android:exported="false" />
        <activity
            android:name=".Dang_bai_truyen_chu"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Truyen_da_thich"
            android:exported="false" />
        <activity
            android:name=".Truyen_da_xem"
            android:exported="false" />
        <activity
            android:name=".Trang_Chu"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>